.navbarContainer {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 10px 20px;
  border-radius: 8px;
  transition: top 0.3s;
}
  
  .logoContainer {
    margin-right: 20px;
  }
  
  .logo {
    height: 47px;
    width: auto;
  }
  
  .navbar {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .navList {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .navList li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
  }
  
  .navList li a:hover {
    color: #0070f3;
  }