.navLink {
  display: inline-flex;
  height: 2.5rem;
  max-width: max-content;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: black;
  transition: all 0.2s ease-out;
}

.navLink:hover {
  background-color: rgb(178, 213, 199);
  color: #1d4ed8; /* blue-700 */
  transform: scale(1.05);
}

.navLinkDark {
  color: #f3f4f6; /* gray-100 */
}

.navLinkDark:hover {
  background-color: #374151; /* gray-700 */
  color: #93c5fd; /* blue-300 */
}

.navLinkIcon {
  margin-right: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
  color: #2563eb; /* blue-600 */
}

.navLinkIconDark {
  color: #60a5fa; /* blue-400 */
}

.navLink:hover .navLinkIcon {
  color: #1d4ed8; /* blue-700 */
}

.navLinkDark:hover .navLinkIconDark {
  color: #93c5fd; /* blue-300 */
}
